<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue | 01</title>
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Lorem ipsum.
        </h1>
        <h2 class="subtitle">
          Consectetur adipisicing elit. Aliquam, commodi.
        </h2>
      </div>
    </div>
  </div>
  
  <div class="section" id="app">

    <div v-if="!formSubmited" class="container">

      <form @submit.prevent="submitForm">

        <h1 class="title">Regístrate</h1>

        <div class="field">
          <label for="first_name" class="label">Nombre</label>
          <p class="control">
            <input v-model="first_name" type="text" class="input" id="first_name">
          </p>
        </div>

        <div class="field">
          <label for="last_name" class="label">Apellido</label>
          <p class="control">
            <input v-model="last_name" type="text" class="input" id="last_name">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-primary" :disabled="!isFormValid()">
              Continuar
            </button>
          </p>
        </div>
        
      </form>

    </div>

    <div v-else class="message">
      <div class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              Bienvenido, {{ first_name }} {{ last_name }}
            </h1>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Christian Medina | &copy; 2017
        </p>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/vue@2.3.3"></script>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        first_name: '',
        last_name: '',
        formSubmited: false
      },
      methods: {
        isFormValid: function() {
          return this.first_name !== '' && this.last_name !== '';
        },
        submitForm: function() {
          if(!this.isFormValid()) return

          this.formSubmited = true;
        }
      }
    });
  </script>

</body>
</html>
